<!DOCTYPE html>
<html lang="en">
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ASD Project</title>
        <link rel="stylesheet" type="text/css" href="/fonts/Lora-BoldItalic.ttf">
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui.theme.min.css">
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <style type="text/css"> 
                body{
                    font-family: Lora-BoldItalic;
                    
                }
                .navbar{
                    font-size: 20px;
                }
        </style>
    </head>
    <body>
      <nav class="navbar navbar-toggleable-sm navbar-expand-sm bg-dark navbar-dark sticky-top">
            <div class="container-fluid">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navItems">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/">ASD</a>
                <div class="collapse navbar-collapse" id="navItems">
                    <ul class="navbar-nav nav-pills ml-auto">
                        <li class="nav-item">
                            <a href="/login" class="nav-link">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>   
