<html style="background-color: #331045;">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/navbar.css">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">



<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="http://localhost:8080/dashboard">
        <h4 style="font-family:'Pacifico',cursive;">RocketShare</h4>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Browse</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Follow</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item active" >
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
</nav>