<link rel="stylesheet" href="/css/dashboard.css">


<body>
<% include partials/navbar %>
<%include partials/post_modal %>

<div class="fab"> <button class="md-trigger" data-target="#modal-1">+</button> </div>
</body>
<!-- <script src="/js/bootstrap.min.js"></script> -->
</html>
