<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300" type="text/css" />
<link rel="stylesheet" href="/css/landing.css" >
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

<h1 style="font-family: 'Pacifico',cursive; font-size: 86px;">RocketShare</h1>
<h4>Let the world know the ideas that matter!</h4>

<div class="button-row" align="center">
    <a href="http://localhost:8080/login"><button>Login</button></a>
    <a href="http://localhost:8080/signup"><button>Sign up</button></a>
</div>