<link rel="stylesheet" type="text/css" href="/css/login.css">

<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

 <% include partials/header %> 

<div class="login-screen">
  <div class="left-item">
    <div class="login-panel">
      <div class="inner-login-panel">
        <div class="content-panel">
          <h3 class="title">Log In</h3>
          <form action="/authenticate" method="POST">
            <input type="text" placeholder="USERNAME" class="form-group" name="username"/>
            <input type="password" placeholder="PASSWORD" name="password"/>
            <button type="submit" value="Let's Go">Let's Go</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="right-item">
    <div class="slider-panel">
      <div class="inner-slider-panel">
        <h1 style="font-family: 'Pacifico',cursive;">RocketShare</h1>
				<h5>Not a member yet?</h5>
				<a href="http://localhost:8080/signup"><button>Sign Up</button></a>
      </div>
    </div>
  </div>
</div>


<!-- <% include partials/footer %> -->