<link rel="stylesheet" type="text/css" href="/css/login.css">
<!-- <% include partials/header %> -->

<div class="login-screen">
  <div class="left-item">
    <div class="login-panel">
      <div class="inner-login-panel">
        <div class="content-panel">
          <h3 class="title">Sign up</h3>
					<form action="/register" method="POST">
						<input type="text" class="form-control" placeholder="Name" name="name"/>
						<input type="text" class="form-control" placeholder="Username" name="username"/>
						<input type="email" class="form-control" placeholder="Email" name="email"/>
            <input type="password" placeholder="PASSWORD" name="password"/>
            <button type="submit" value="Let's Go">Get it done!</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="right-item">
    <div class="slider-panel">
      <div class="inner-slider-panel">
        <h1>RocketShare</h1>
      </div>
    </div>
  </div>
</div>


<!-- <% include partials/footer %> -->